name: build-simple

on: [workflow_dispatch]

jobs:
  build-macos:
    name: build-macos
    runs-on: macos-14

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install uv
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
        echo "$HOME/.cargo/bin" >> $GITHUB_PATH

    - name: Install dependencies
      run: uv sync

    - name: Build wheel
      run: uv build --wheel

    - name: Check distributions
      run: uv run twine check dist/*.whl

    - name: Upload release artifacts
      uses: actions/upload-artifact@v4
      with:
        name: wheel-macos
        path: dist/*.whl
        retention-days: 10

  build-linux:
    name: build-linux
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install uv
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
        echo "$HOME/.cargo/bin" >> $GITHUB_PATH

    - name: Install dependencies
      run: uv sync

    - name: Build wheel
      run: uv build --wheel

    - name: Check distributions
      run: uv run twine check dist/*.whl

    - name: Upload release artifacts
      uses: actions/upload-artifact@v4
      with:
        name: wheel-linux
        path: dist/*.whl
        retention-days: 10

  build-windows:
    name: build-windows
    runs-on: windows-2022

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install uv
      run: |
        irm https://astral.sh/uv/install.ps1 | iex
        echo "$env:USERPROFILE\.local\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

    - name: Install dependencies
      run: uv sync

    - name: Build wheel
      shell: bash
      run: uv build --wheel

    - name: Check distributions
      shell: bash
      run: uv run twine check dist/*.whl

    - name: Upload release artifacts
      uses: actions/upload-artifact@v4
      with:
        name: wheel-windows
        path: dist/*.whl
        retention-days: 10
